<div class="d-flex rounded flex-column text-center border border-dark  bg-warning m-5 pt-2 pb-3" appShadow="{{ questions[index].responseStatus }}">
  <h3 class="bg-info p-3 font-italic mb-3">Question #{{ index + 1 }}: {{  questions[index].question }}</h3>
  <h5 *ngIf="inputFieldIsEmpty" class="bg-danger pl-5 pr-5 pt-2 pb-2 m-auto rounded ">You haven't entered anything!</h5>
  <div>
    <h4 class="bg-success pl-5 pr-5 pt-2 pb-2 rounded" *ngIf="openOrClose">Prompt: {{ questions[index].prompt }}</h4>
    <button class="btn btn-info"(click)="openOrClosePrompt()">Prompt</button>
  </div>
  <app-entry-field
    (onClickCheckAnswer)="getQuestion($event)"
  ></app-entry-field>
</div>
