<div class="pt-1 pl-5 pr-5 pb-5 bg-dark ">
  <app-questions
    *ngFor="let question of questions; let i = index"
    [index]="i"
  ></app-questions>
  <div>
    <h2 class="text-center text-primary bg-warning rounded m-5">Count questions: {{ countQuestions }}. Correct answer: {{ countCorrectAnswer }} </h2>
  </div>
</div>
