<div>
  <form (ngSubmit)="onClickBtn()">
    <div class="d-flex justify-content-center m-5">
        <label for="answer" class="m-2 h4">Your reply:</label>
        <input type="text" class="h4 pl-3" id="answer" #answerInput/>
        <button class="btn btn-success ml-5 mr-3">Check answer</button>
    </div>
  </form>
</div>
